<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizhu.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1224,720}</string>
                <key>spriteSourceSize</key>
                <string>{1224,720}</string>
                <key>textureRect</key>
                <string>{{720,0},{1224,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1224,711}</string>
                <key>spriteSourceSize</key>
                <string>{1224,711}</string>
                <key>textureRect</key>
                <string>{{720,720},{1224,711}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi_bg.jpg</string>
            <key>size</key>
            <string>{1944,1431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a36f4e5763869266ea92d29be9ebb1b:40b4281da732126c45f830a08297ce3c:1418b29ec7620be51d7d08eed09c7019$</string>
            <key>textureFileName</key>
            <string>beimi_bg.jpg</string>
        </dict>
    </dict>
</plist>
