<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,284}</string>
                <key>spriteSourceSize</key>
                <string>{517,284}</string>
                <key>textureRect</key>
                <string>{{433,1173},{517,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,518}</string>
                <key>spriteSourceSize</key>
                <string>{398,518}</string>
                <key>textureRect</key>
                <string>{{757,434},{398,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,253}</string>
                <key>spriteSourceSize</key>
                <string>{298,253}</string>
                <key>textureRect</key>
                <string>{{1120,1007},{298,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,253}</string>
                <key>spriteSourceSize</key>
                <string>{298,253}</string>
                <key>textureRect</key>
                <string>{{1080,1305},{298,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,253}</string>
                <key>spriteSourceSize</key>
                <string>{573,253}</string>
                <key>textureRect</key>
                <string>{{1155,434},{573,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>初级1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,206}</string>
                <key>spriteSourceSize</key>
                <string>{363,206}</string>
                <key>textureRect</key>
                <string>{{757,952},{363,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>初级2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,206}</string>
                <key>spriteSourceSize</key>
                <string>{363,206}</string>
                <key>textureRect</key>
                <string>{{717,1158},{363,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>失败角色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,652}</string>
                <key>spriteSourceSize</key>
                <string>{433,652}</string>
                <key>textureRect</key>
                <string>{{0,431},{433,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{129,73}</string>
                <key>textureRect</key>
                <string>{{1080,1603},{129,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>桌子_对称.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,434}</string>
                <key>spriteSourceSize</key>
                <string>{612,434}</string>
                <key>textureRect</key>
                <string>{{792,0},{612,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家反馈框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,143}</string>
                <key>spriteSourceSize</key>
                <string>{677,143}</string>
                <key>textureRect</key>
                <string>{{614,431},{677,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>玻璃底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,431}</string>
                <key>spriteSourceSize</key>
                <string>{792,431}</string>
                <key>textureRect</key>
                <string>{{0,0},{792,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>系统回复框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,181}</string>
                <key>spriteSourceSize</key>
                <string>{742,181}</string>
                <key>textureRect</key>
                <string>{{433,431},{742,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>角色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,652}</string>
                <key>spriteSourceSize</key>
                <string>{433,652}</string>
                <key>textureRect</key>
                <string>{{0,1083},{433,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>高级1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,206}</string>
                <key>spriteSourceSize</key>
                <string>{363,206}</string>
                <key>textureRect</key>
                <string>{{717,1364},{363,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>高级2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,206}</string>
                <key>spriteSourceSize</key>
                <string>{363,206}</string>
                <key>textureRect</key>
                <string>{{717,1570},{363,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi_big.png</string>
            <key>size</key>
            <string>{1408,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54ed060cb8e8d614df47845d6df09e82:66d5fec91c39425ef5f86c0a2be1f038:74a92fa8152ca74ee5c339ffa6c527ed$</string>
            <key>textureFileName</key>
            <string>beimi_big.png</string>
        </dict>
    </dict>
</plist>
