<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{320,1244},{27,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Btn_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{354,1121},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,55}</string>
                <key>spriteSourceSize</key>
                <string>{170,55}</string>
                <key>textureRect</key>
                <string>{{211,488},{170,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Btn_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,70}</string>
                <key>spriteSourceSize</key>
                <string>{175,70}</string>
                <key>textureRect</key>
                <string>{{217,660},{175,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Btn_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,101}</string>
                <key>spriteSourceSize</key>
                <string>{106,101}</string>
                <key>textureRect</key>
                <string>{{251,1136},{106,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Btn_yilingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,62}</string>
                <key>spriteSourceSize</key>
                <string>{175,62}</string>
                <key>textureRect</key>
                <string>{{322,474},{175,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Btn_yilingqu7+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,62}</string>
                <key>spriteSourceSize</key>
                <string>{175,62}</string>
                <key>textureRect</key>
                <string>{{289,660},{175,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>beika_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,34}</string>
                <key>spriteSourceSize</key>
                <string>{69,34}</string>
                <key>textureRect</key>
                <string>{{454,1},{69,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>beika_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{67,32}</string>
                <key>textureRect</key>
                <string>{{454,214},{67,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,51}</string>
                <key>spriteSourceSize</key>
                <string>{237,51}</string>
                <key>textureRect</key>
                <string>{{1,913},{237,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,49}</string>
                <key>spriteSourceSize</key>
                <string>{61,49}</string>
                <key>textureRect</key>
                <string>{{406,357},{61,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_receive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,45}</string>
                <key>spriteSourceSize</key>
                <string>{96,45}</string>
                <key>textureRect</key>
                <string>{{90,833},{96,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-54}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,105}</string>
                <key>textureRect</key>
                <string>{{407,736},{79,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-54}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{241,984},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-30}</string>
                <key>spriteSize</key>
                <string>{137,131}</string>
                <key>spriteSourceSize</key>
                <string>{137,131}</string>
                <key>textureRect</key>
                <string>{{350,988},{137,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-14}</string>
                <key>spriteSize</key>
                <string>{131,153}</string>
                <key>spriteSourceSize</key>
                <string>{131,153}</string>
                <key>textureRect</key>
                <string>{{273,319},{131,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{145,151}</string>
                <key>spriteSourceSize</key>
                <string>{145,151}</string>
                <key>textureRect</key>
                <string>{{44,335},{145,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-29}</string>
                <key>spriteSize</key>
                <string>{149,123}</string>
                <key>spriteSourceSize</key>
                <string>{149,123}</string>
                <key>textureRect</key>
                <string>{{106,880},{149,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daoju_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,34}</string>
                <key>spriteSourceSize</key>
                <string>{69,34}</string>
                <key>textureRect</key>
                <string>{{454,72},{69,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daoju_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{67,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,30}</string>
                <key>textureRect</key>
                <string>{{251,1244},{67,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,140}</string>
                <key>spriteSourceSize</key>
                <string>{355,140}</string>
                <key>textureRect</key>
                <string>{{44,1},{355,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-14}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{107,109}</string>
                <key>textureRect</key>
                <string>{{142,1150},{107,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-12}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{386,474},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{133,117}</string>
                <key>spriteSourceSize</key>
                <string>{133,117}</string>
                <key>textureRect</key>
                <string>{{106,1031},{133,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-33}</string>
                <key>spriteSize</key>
                <string>{145,121}</string>
                <key>spriteSourceSize</key>
                <string>{145,121}</string>
                <key>textureRect</key>
                <string>{{231,837},{145,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-14}</string>
                <key>spriteSize</key>
                <string>{131,143}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{354,843},{131,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{139,127}</string>
                <key>spriteSourceSize</key>
                <string>{139,127}</string>
                <key>textureRect</key>
                <string>{{1,1152},{139,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{171,119}</string>
                <key>spriteSourceSize</key>
                <string>{171,119}</string>
                <key>textureRect</key>
                <string>{{90,488},{171,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>itemsbox_line_luckwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{232,319},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,69}</string>
                <key>textureRect</key>
                <string>{{406,284},{71,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,34}</string>
                <key>spriteSourceSize</key>
                <string>{69,34}</string>
                <key>textureRect</key>
                <string>{{454,143},{69,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{67,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,30}</string>
                <key>textureRect</key>
                <string>{{406,408},{67,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,81}</string>
                <key>spriteSourceSize</key>
                <string>{50,81}</string>
                <key>textureRect</key>
                <string>{{354,1222},{50,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,190}</string>
                <key>spriteSourceSize</key>
                <string>{186,190}</string>
                <key>textureRect</key>
                <string>{{44,143},{186,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,52}</string>
                <key>spriteSourceSize</key>
                <string>{170,52}</string>
                <key>textureRect</key>
                <string>{{268,488},{170,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,52}</string>
                <key>spriteSourceSize</key>
                <string>{170,52}</string>
                <key>textureRect</key>
                <string>{{353,651},{170,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,41}</string>
                <key>spriteSourceSize</key>
                <string>{500,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_luckywheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,87}</string>
                <key>spriteSourceSize</key>
                <string>{408,87}</string>
                <key>textureRect</key>
                <string>{{1,503},{408,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuanshi_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,34}</string>
                <key>spriteSourceSize</key>
                <string>{69,34}</string>
                <key>textureRect</key>
                <string>{{454,1121},{69,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuanshi_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{67,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,30}</string>
                <key>textureRect</key>
                <string>{{406,440},{67,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前往.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,80}</string>
                <key>spriteSourceSize</key>
                <string>{151,80}</string>
                <key>textureRect</key>
                <string>{{191,335},{151,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>好的.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,43}</string>
                <key>spriteSourceSize</key>
                <string>{94,43}</string>
                <key>textureRect</key>
                <string>{{241,1091},{94,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>已领取格.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-37}</string>
                <key>spriteSize</key>
                <string>{170,125}</string>
                <key>spriteSourceSize</key>
                <string>{170,125}</string>
                <key>textureRect</key>
                <string>{{90,661},{170,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>福利中心.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,50}</string>
                <key>spriteSourceSize</key>
                <string>{188,50}</string>
                <key>textureRect</key>
                <string>{{54,913},{188,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>签到格_第一行.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{232,143},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>连续登陆礼包.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,51}</string>
                <key>spriteSourceSize</key>
                <string>{281,51}</string>
                <key>textureRect</key>
                <string>{{401,1},{281,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{54,1103},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>领取.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,80}</string>
                <key>spriteSourceSize</key>
                <string>{151,80}</string>
                <key>textureRect</key>
                <string>{{407,583},{151,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi_welfare.png</string>
            <key>size</key>
            <string>{490,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8deb19aed80f2b5a6fb35ca03b7fe7d9:1da71ce9536efcc9f6a0b8dcacb2db65:0b508241cca2a1465f39b265766e466e$</string>
            <key>textureFileName</key>
            <string>beimi_welfare.png</string>
        </dict>
    </dict>
</plist>
