<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_light_effects.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{216,228}</string>
                <key>textureRect</key>
                <string>{{1,249},{216,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_playway.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{219,280},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongao_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,113}</string>
                <key>spriteSourceSize</key>
                <string>{108,113}</string>
                <key>textureRect</key>
                <string>{{107,139},{108,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>options_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,139},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,90}</string>
                <key>textureRect</key>
                <string>{{233,96},{250,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,90}</string>
                <key>textureRect</key>
                <string>{{222,188},{250,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,93}</string>
                <key>spriteSourceSize</key>
                <string>{129,93}</string>
                <key>textureRect</key>
                <string>{{335,1},{129,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{230,67}</string>
                <key>textureRect</key>
                <string>{{103,1},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{230,67}</string>
                <key>textureRect</key>
                <string>{{1,70},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi_paper.png</string>
            <key>size</key>
            <string>{484,545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bcdd17fad13d163d682f3c2c493a5e0:23c76b2278b672a2d8c48c4d84643089:c5171d4c5d072a7b289030cd7e162015$</string>
            <key>textureFileName</key>
            <string>beimi_paper.png</string>
        </dict>
    </dict>
</plist>
